*.iml
.gradle/
/local.properties
/.idea/workspace.xml
/.idea/libraries/
/.idea/caches/
.DS_Store
/build
/captures
.externalNativeBuild
/app/fabric.properties
*.blend[1-9]
/.idea/runConfigurations/CleverDrawer.xml
/.idea/runConfigurations/All_Tests.xml
/.idea/markdown*
